.circle {
	border-radius: 0.8em;
	color: #666666;
	display: inline-block;
	font-weight: bold;
	font-size:1.6em;
	line-height: 1em;
	text-align: center;
	width: 1.6em;
}


.text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.456em;
    margin-top: 15px;
}

.text ol li {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.456em;
    margin-top: 15px;
}

.text ul li {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.456em;
    margin-top: 15px;
}


/*----------------------------------------
    FAQ
----------------------------------------*/
#faq {
    padding-top: 100px;
    padding-bottom: 150px;
}
#faq .text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.456em;
    margin-top: 15px;
}

/*----------------------------------------
    AboutSquats
----------------------------------------*/
#aboutsquats {
    padding-top: 100px;
    padding-bottom: 150px;
}
#aboutsquats .text p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.456em;
    margin-top: 15px;
}